<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    
    <h1 class="display-3 main-font">Vision-X</h1>
    <p class="lead">Platform Where Startup meets,Correct Investors!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg back" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
