<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>GenX Is Vision-X</h1>
    <h1 class="display-3">!! Hurray !!</h1>
    <p class="secret-text">Correct, Place For The Investor To Meet The Startups</p>
    <% userwithidea.forEach(function(user){ %>
      <p class="secret-text"><%=  user.idea %></p>
    <% }) %>
    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/pitch" role="button">Pitch Your Idea!!</a>
  </div>
</div>

<%- include('partials/footer') %>
