<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    
    <h1 class="display-3 centers">!! Hurray !!</h1>
    <p class="secret-text">YOU, are finally Onboarded!!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="pitchIdea" placeholder="What's your Idea?">
      </div>
      <div class="text-center">
      <button type="submit" class="btn btn-dark text-center">Submit</button>
      </div>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
