
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: right;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #ffbf23;
}
.main-font{
  color: #ffbf23;
  font-size: 6rem;;
}
.back{
  background-color: #ffbf23;
}
.back-hover{
  background-color: #ffbf23;
}
.font-style{
  color: #ffbf23;
}
.centers{
  text-align: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}